html, body {
    height: 100%;
    margin: 0;
}

/* Base Styles */
.hidden {
    display: none;
}

#userDropdown {
    position: absolute;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

@media (max-width: 600px) {
    #userDropdown {
        left: 0;
        right: auto;
        /* width: calc(100vw - 20px); Ensuring it fits within the viewport */
    }
}

@media (min-width: 640px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .product-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .product-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Container styling */
.product-container {
    display: grid;
    gap: 24px; /* Adjust the gap as needed */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

/* Product card styling */
.product-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    height: 500px; /* Set a fixed height for the product card */
    transition: transform 0.2s ease, box-shadow 0.3s ease; /* Add transition for smooth effect */

}

.product-card:hover {
    transform: translateY(-10px); /* Lift the card slightly on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

/* Image styling */
.product-card img {
    width: 100%;
    height: 170px; /* Set a fixed height for the image */
    object-fit: cover;
    border-radius: 0.5rem;
}

/* Product details styling */
.product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: calc(100% - 200px); Adjust based on total card height minus image and button heights */
}

/* Name styling */
.product-name {
    
    height: 50px; /* Set a fixed height for the product name */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.5rem; /* Add space below the price */
    text-transform: uppercase; /* Make text uppercase */


}

/* Description styling */
.product-desc {
    height: 100px; /* Adjusted based on the number of lines */
    overflow: hidden;
    text-overflow: ellipsis;

   
}


/* Price styling */
.product-price {
    font-size: 0.9rem; /* Adjust font size */
    text-transform: uppercase; /* Make text uppercase */
    letter-spacing: 0.1em; /* Add spacing between letters */
}

/* Category styling */
.product-category {
    font-size: 0.9rem; /* Adjust font size */
    text-transform: uppercase; /* Make text uppercase */
    letter-spacing: 0.1em; /* Add spacing between letters */

}
    

/* Button styling */
.product-card button {
    height: 50px; /* Set a fixed height for the button */
}


